<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='wall.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a id="testing123" href="/"><img id="dojo" src="/static/dojo.png" alt="coding dojo icon"></a>
                <div id="topRight">
                    <h2>Welcome, {{ session['name'] }}!</h2>
                    <form id="logoff" action="/logoff" method="post">
                        <input id="logoffButton" type="submit" name="logoff" value="Log Out">
                    </form>
                </div> <!-- topRight -->
            </div> <!-- header -->
            <div id="content">
                <div id="post_a_message">
                    <form id="main_message" action="/message" method="post">
                        <textarea id="message_box" name="message_box" rows="8" cols="80" placeholder="Write a message..."></textarea>
                        <input id="submitButton" type="submit" name="submit" value="Post a message">
                    </form>
                </div> <!-- post_a_message -->
                <div id="message_section">
                    {% for dict in wall_messages %}
                        <div class="message">
                            <h3>{{ dict['name'] }} - {{ dict['date'] }}</h3>
                            <p>{{ dict['message'] }}</p>
                            {% if session['userID'] == dict['user_id']%}
                                <form action="/delete/{{dict['id']}}" method="post">
                                    <input class="delete_button" type="submit" name="delete_button" value="Delete">
                                </form>
                            {% endif %}
                            <div class="comment_output">
                                {% for i in comments %}
                                    {% if i['message_id'] == dict['id'] %}
                                    <div class="each_comment">
                                        <h4>{{ i['name'] }} - {{ i['date'] }}</h4>
                                        <p>{{ i['comment'] }}</p>
                                        {% if session['userID'] == i['user_id']%}
                                            <form action="/remove/{{i['comID']}}" method="post">
                                                <input class="comment_delete" type="submit" name="delete_button" value="Delete">
                                            </form>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="comment">
                                <form action="/comment/{{ dict['id'] }}" method="post">
                                    <textarea class="comment_box" name="comment_box" rows="8" cols="80" placeholder="Write a comment..."></textarea>
                                    <input class="comment_button" type="submit" name="submit" value="Post a comment">
                                </form>
                            </div> <!-- comment -->
                        </div> <!-- message -->
                    {% endfor %}
                </div> <!-- message_section -->
            </div> <!-- content -->
        </div> <!-- wrapper -->
    </body>
</html>
